#home-login{
  display: flex;
  align-items: stretch;
  height: 100vh;
}

#home-login aside{
  flex: 7;

  background: #3C096C;
  color: #ffff;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 3rem;
}